<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
  </head>
  <body>

      <!-- Page Footer-->
      <footer class="section footer-variant-2 footer-modern context-dark novi-bg novi-bg-img">
        <div class="footer-variant-2-content pt-3 pb-0">
          <div class="container">
            <div class="row row-40 row-fix justify-content-between">
              <div class="col-sm-4 col-lg-4 col-xl-3">
                <div class="oh-desktop">
                  <div class="wow slideInRight" data-wow-delay="0s">
                    <div class="footer-brand"><a href="index.html"><img src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="149" height="46"/></a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-4 col-xl-3">
                <ul class="footer-contacts d-inline-block d-md-block">
                  <li>
                    <div class="unit unit-spacing-xs pt-1">
                      <div class="unit-left"><span class="novi-icon icon fa fa-phone"></span></div>
                      <div class="unit-body"><a class="link-phone" href="tel:#">+886 000-000-000</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left"><span class="novi-icon icon fa fa-clock-o"></span></div>
                      <div class="unit-body">
                        <p>Mon-Sat: 07:00AM - 05:00PM</p>
                      </div>
                    </div>
                  </li>                 
                </ul>
              </div>
              <div class="col-sm-4 col-lg-4 col-xl-3" style="color:white">
                <p>本網站內容由© 2005–2024 ispan 資展國際保留所有權利</p>
                <p>SpanTasty/StarCups 隸屬台灣餐飲相關事業。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-variant-2-bottom-panel novi-bg novi-bg-img">
          <div class="container">
            <!-- Rights-->
            <div class="group-sm group-sm-justify">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Parquetry</span>. All rights reserved.
              </p>
              <p class="rights"><a href="privacy-policy.html">Privacy Policy.</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a></p>
            </div>
          </div>
        </div>
      </footer>
    <script src="/SpanTasty/js/jquery-3.7.1.min.js"></script>
    <script src="/SpanTasty/js/axios.min.js"></script>    
  </body>
</html>