<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>訂單</title>
</head>

<body>
    <div th:replace="~{spantasty/display/navbar}"></div>
    <!-- 主要內容區域 -->
    <div class="content">
        <div class="container mt-2">
            <h1 class="display-6">📍訂單資料📍</h1>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-2">
                            <select name="citySelect" id="citySelect" class="form-select" onchange="fetchTowns()"
                                required>
                                <option value="" selected>選擇縣市</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="townSelect" id="townSelect" disabled class="form-select"
                                onchange="fetchRestaurants()" required>
                                <option value="" selected>選擇鄉鎮</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="restaurantSelect" id="restaurantSelect" class="form-select" disabled required>
                                <option value="" selected>選擇餐廳</option>
                            </select>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <a th:href="@{/order/togo/add}" class="btn btn-primary btn-sm me-2">新增訂單</a>
                            <a th:href="@{/order/togo/get}" class="btn btn-primary btn-sm me-2">查詢訂單</a>
                            <a th:href="@{/order/togo}" class="btn btn-secondary btn-sm">全部訂單</a>
                        </div>
                    </div>
                    <div class="table-responsive mt-3">
                        <table id="demoData" class="table table-secondary table-striped table-hover text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">訂單編號</th>
                                    <th scope="col">會員編號</th>
                                    <th scope="col">姓名</th>
                                    <th scope="col">電話</th>
                                    <th scope="col">訂單金額</th>
                                    <th scope="col">成立時間</th>
                                    <th scope="col">取餐時間</th>
                                    <th scope="col">訂單狀態</th>
                                    <th scope="col">餐廳名稱</th>
                                    <th scope="col">訂單備註</th>
                                    <th scope="col">查看</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="togo : ${togoList.togoList}">
                                    <tr>
                                        <td class="align-middle" id="togoId" th:text="${togo.togoId}"
                                            data-togo-id="${togo.togoId}"></td>
                                        <td class="align-middle" th:text="${togo.memberId}"></td>
                                        <td class="align-middle" th:text="${togo.tgName}"></td>
                                        <td class="align-middle" th:text="${togo.tgPhone}"></td>
                                        <td class="align-middle" th:text="${togo.totalPrice}"></td>
                                        <td class="align-middle" th:text="${togo.createTimeformattedDate}"></td>
                                        <td class="align-middle" th:text="${togo.pickupTimeformattedDate}"></td>
                                        <td class="align-middle">
                                            <span th:switch="${togo.togoStatus}">
                                                <span th:case="1" class="badge bg-warning">未取餐</span>
                                                <span th:case="2" class="badge bg-success">已取餐</span>
                                                <span th:case="3" class="badge bg-danger">已取消</span>
                                            </span>
                                        </td>
                                        <td class="align-middle" th:text="${togo.restaurant.restaurantName}"></td>
                                        <td class="align-middle" th:text="${togo.togoMemo}"></td>
                                        <td class="align-middle">
                                            <input type="hidden" class="togoId" id="togoId" th:value="${togo.togoId}" />
                                            <button type="button" class="btn btn-info" id="showDetailsBtn">查看</button>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                </div>

                <!-- 分頁 -->
                <div class="d-flex justify-content-end mt-3" id="pagination-container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination">
                            <!-- 前一頁 -->
                            <li class="page-item" th:classappend="${togoList.togoList.hasPrevious()} ? '' : 'disabled'">

                                <a class="page-link"
                                    th:href="@{/order/togo(page=${togoList.togoList.number - 1})}+${togoList.selectedId == 0? '': '&restaurantId='+ togoList.selectedId}">上一頁</a>
                            </li>
                            <!-- 頁碼 -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, togoList.togoList.totalPages - 1)}"
                                th:classappend="${i == togoList.togoList.number} ? 'active' : ''">
                                <a class="page-link"
                                    th:href="@{/order/togo(page=${i})}+${togoList.selectedId == 0? '': '&restaurantId='+ togoList.selectedId}"
                                    th:text="${i + 1}">1</a>
                            </li>
                            <!-- 下一頁 -->
                            <li class="page-item" th:classappend="${togoList.togoList.hasNext()} ? '' : 'disabled'">
                                <a class="page-link"
                                    th:href="@{/order/togo(page=${togoList.togoList.number + 1})}+${togoList.selectedId == 0? '': '&restaurantId='+ togoList.selectedId}">下一頁</a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <!-- 插入查詢 -->
                <div class="modal fade" id="showDetailsModal" tabindex="-1" role="dialog"
                    aria-labelledby="showDetailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="showDetailsModalLabel"># 訂單明細</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table table-secondary table-striped table-hover text-center">
                                    <thead class="thead-light">
                                        <tr>

                                            <th scope="col">餐點品項</th>
                                            <th scope="col">單價</th>
                                            <th scope="col">數量</th>
                                            <th scope="col">小計</th>
                                        </tr>
                                    </thead>
                                    <tbody id="detailsTableBody">
                                        <!-- 查詢結果將插入在這裡 -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="cancelChangesBtn">關閉</button>
                                <button type="button" class="btn btn-primary" id="saveChangesBtn">保存修改</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showSidebar('order');
            loadCities();

            // 當餐廳選擇框改變時，獲取該餐廳的訂單資訊
            document.getElementById("restaurantSelect").addEventListener("change", function () {
                const restaurantId = this.value;
                console.log(restaurantId)
                if (restaurantId) {
                    getTogoByRestaurantId(restaurantId);
                }
            });

            document.querySelectorAll("#showDetailsBtn").forEach(button => {
                button.addEventListener("click", function () {
                    // 找到與按鈕同一行的隱藏的 togoId 元素
                    const togoId = this.closest("tr").querySelector(".togoId").value;
                    console.log(togoId);
                    showDetails(togoId);
                });
            });

        })

        // 載入縣市列表
        function loadCities() {
            axios.get('http://localhost:8080/SpanTasty/restaurant/city')
                .then(function (response) {
                    var citySelect = document.getElementById("citySelect");
                    citySelect.innerHTML = '<option value="">選擇縣市</option>';
                    response.data.forEach(function (city) {
                        var option = document.createElement("option");
                        option.value = city;
                        option.text = city;
                        citySelect.appendChild(option);
                    });
                })
                .catch(function (error) {
                    console.error("無法載入縣市資料", error);
                });
        }

        // 當用戶選擇縣市時，載入對應鄉鎮
        function fetchTowns() {
            var city = document.getElementById("citySelect").value;
            if (city) {
                axios.get(`http://localhost:8080/SpanTasty/restaurant/${city}/towns`)
                    .then(function (response) {
                        var townSelect = document.getElementById("townSelect");
                        townSelect.innerHTML = '<option value="">選擇鄉鎮</option>';
                        response.data.forEach(function (town) {
                            var option = document.createElement("option");
                            option.value = town;
                            option.text = town;
                            townSelect.appendChild(option);
                        });
                        townSelect.disabled = false;  // 啟用鄉鎮選單
                    })
                    .catch(function (error) {
                        console.error("無法載入鄉鎮資料", error);
                    });
            }
        }

        // 當用戶選擇鄉鎮時，載入對應餐廳
        function fetchRestaurants() {
            var town = document.getElementById("townSelect").value;
            if (town) {
                axios.get(`http://localhost:8080/SpanTasty/restaurant/${town}/list`)
                    .then(function (response) {
                        var restaurantSelect = document.getElementById("restaurantSelect");
                        restaurantSelect.innerHTML = '<option value="">選擇餐廳</option>';
                        response.data.forEach(function (restaurant) {
                            var option = document.createElement("option");
                            option.value = restaurant.restaurantId; // 餐廳的唯一 ID
                            option.text = restaurant.restaurantName; // 餐廳名稱
                            // option.text = restaurant.restaurantAddress;
                            restaurantSelect.appendChild(option);
                        });
                        restaurantSelect.disabled = false;  // 啟用餐廳選單
                    })
                    .catch(function (error) {
                        console.error("無法載入餐廳資料", error);
                    });
            } else {
                document.getElementById("restaurantSelect").disabled = true;
            }
        }

        function getTogoByRestaurantId(restaurantId) {

            console.log("找的id " + restaurantId)
            axios.get(`http://localhost:8080/SpanTasty/order/togo/restaurant/${restaurantId}`)
                .then(function (response) {
                    const togoData = response.data;
                    console.log(togoData)
                    // 清空現有訂單資料
                    const tableBody = document.querySelector("#demoData tbody");
                    tableBody.innerHTML = '';

                    // 遍歷訂單並插入表格
                    togoData.content.forEach(function (togo) {

                        const pickupTimeformattedDate = togo.pickupTimeformattedDate !== null ? togo.pickupTimeformattedDate : '';
                        const togoMemo = togo.togoMemo !== null ? togo.togoMemo : '';

                        const orderRow = `
                            <tr>
                                <td class="align-middle">${togo.togoId}</td>
                                <td class="align-middle">${togo.memberId}</td>
                                <td class="align-middle">${togo.tgName}</td>
                                <td class="align-middle">${togo.tgPhone}</td>
                                <td class="align-middle">${togo.totalPrice}</td>
                                <td class="align-middle">${togo.createTimeformattedDate}</td>                               
                                <td class="align-middle">${togo.pickupTimeformattedDate || ''}</td>
                                <td class="align-middle">
                                    <span>
                                    ${getTogoStatusBadge(togo.togoStatus)}
                                    </span>
                                </td>
                                <td class="align-middle">${togo.restaurant.restaurantName}</td>
                                
                                <td class="align-middle">${togo.togoMemo || ''}</td>
                                <td  class="align-middle">
                                    <button type="button" class="btn btn-info" id="shwoDetailsBtn" onclick="showDetails(${togo.togoId})">查看</button>
                                </td>
                            </tr>
                            `;
                        tableBody.insertAdjacentHTML("beforeend", orderRow);
                    })
                    updatePagination(togoData);
                })
                .catch(function (error) {
                    console.error("無法獲取訂單資料", error);
                });
        }

        // 更新分頁顯示
        function updatePagination(togoData) {
            const pagination = document.querySelector("#pagination");
            const currentPage = togoData.number;
            const totalPages = togoData.totalPages;
            const restaurantId = document.querySelector("#restaurantSelect").value;
            console.log(togoData)
            console.log("currentPage " + currentPage)
            console.log("restaurantId " + restaurantId)
            pagination.innerHTML = ''; // 清空分頁
            // <li class="page-item" th:classappend="${togoList.hasPrevious()} ? '' : 'disabled'">
            //                     <a class="page-link" th:href="@{/order/togo(page=${togoList.number - 1})}">上一頁</a>
            //                 </li>
            // 插入前一頁按鈕
            pagination.innerHTML += `
                <li class="page-item ${currentPage === 0 ? 'disabled' : ''}">
                    <a class="page-link" href="/SpanTasty/order/togo?restaurantId=${restaurantId}&page=${currentPage - 1}">上一頁</a>
                </li>
                `;
            // 插入頁碼按鈕
            console.log({ totalPages })
            for (let i = 0; i < totalPages; i++) {
                pagination.innerHTML += `
                    <li class="page-item ${i === currentPage ? 'active' : ''}">
                        <a class="page-link" href="/SpanTasty/order/togo?restaurantId=${restaurantId}&page=${i}" th:text="${i + 1}">
                            ${i + 1}</a>
                    </li>
                    `;
            }
            // <li class="page-item" th:each="i : ${#numbers.sequence(0, togoList.totalPages - 1)}"
            //                     th:classappend="${i == togoList.number} ? 'active' : ''">
            //                     <a class="page-link" th:href="@{/order/togo(page=${i})}" th:text="${i + 1}">1</a>
            //                 </li>
            // 插入下一頁按鈕
            pagination.innerHTML += `
                <li class="page-item ${currentPage === totalPages - 1 ? 'disabled' : ''}">
                    <a class="page-link" href="/SpanTasty/order/togo?restaurantId=${restaurantId}&page=${currentPage + 1}">下一頁</a>
                </li>
                `;
        }

        function showDetails(togoId) {
            console.log("showdetail" + togoId)

            // 更新 modal 標題
            const modalTitle = document.getElementById("showDetailsModalLabel");
            modalTitle.textContent = `#${togoId} 訂單明細`;
            axios.get(`/SpanTasty/order/togo/items/${togoId}`)
                .then(response => {
                    // 成功時的處理邏輯
                    console.log("取得訂單詳情成功", response.data);
                    const togoItems = response.data;
                    const detailsTableBody = document.getElementById("detailsTableBody");

                    togoItems.forEach(item => {
                        const row = `
                        <tr>
                            
                            <td>${item.menu.foodName}</td>
                            <td>${item.menu.foodPrice}</td>
                            <td>${item.amount}</td>
                            <td>${item.togoItemPrice}</td>                          
                        </tr>
                    `;
                        detailsTableBody.innerHTML += row;
                    })
                    $('#showDetailsModal').modal('show');
                })
                .catch(error => {
                    // 錯誤時的處理邏輯
                    console.error("取得訂單詳情失敗", error);
                    alert("取得訂單詳情失敗");
                });

        }

        //顯示togo狀態
        function getTogoStatusBadge(status) {
            if (status === 1) {
                return '<span class="badge bg-warning">未取餐</span>';
            } else if (status === 2) {
                return '<span class="badge bg-success">已取餐</span>';
            } else if (status === 3) {
                return '<span class="badge bg-danger">已取消</span>';
            }
        }

    </script>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>