<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
    <title>Shop</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .hidden { 
        	display: none; 
        }
        .button {
	        opacity: 0; 
	        transition: opacity 0.3s ease; 
        }
        .visible { 
        	opacity: 1; 
        }
        .add-to-cart { 
        	display: none; 
        }
        .product-figure img {
	        width: 269px; 
	        height: 269px; 
        object-fit: cover; 
        }
        .cart-icon { 
	        position: fixed; 
	        bottom: 90px; 
	        right: 45px; 
	        z-index: 1000; 
	        font-size: 2rem; 
	        cursor: pointer; 
	        color: #AD5A5A; 
        }
        .out-of-stock img { 
        	opacity: 0.1; 
        }
        .out-of-stock .add-to-cart { 
        	pointer-events: none; 
        }
        .allCount{
        	color:#976F55
        }
        .pImg{
        	width:80px !important;
        	height:80px !important;
        	object-fit: cover;
        }
    </style>
</head>
<body>
    <div th:replace="~{starcups/display/navbar}"></div>

    <!-- Cart Icon -->
    <form th:action="@{/StarCups/cartDetail(shoppingId=${session['shoppingId']})}" method="post" style="display: inline;">
        <button type="submit" style="border: none; background: none;">
            <i class="fa-solid fa-cart-plus cart-icon"></i> 
            <span id="cart-count" style="position: fixed; bottom: 120px; right: 25px; background: #613030; color: white; border-radius: 100%; padding: 5px 10px;">0</span>
        </button>
    </form>

    <!-- Breadcrumbs -->
    <section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Shop</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/SpanTasty/StarCups">Home</a></li>
                    <li class="active">Shop</li>
                </ul>
            </div>
            <div class="box-position novi-bg novi-bg-img" style="background-image: url('/SpanTasty/StarCups/images/bg-breadcrumbs.jpg');"></div>
        </div>
    </section>

    <!-- Shop -->
    <section class="section novi-bg novi-bg-img section-l mt-5 bg-default">
        <div class="container d-flex justify-center">
            <div class="row row-90 row-fix justify-content-center">
                <div class="col-lg-8 col-xl-9">
                  <div class="product-top-panel group-lg">
                       
                       <!-- <div class="product-top-panel-title">
                        </div>
                        <form th:action="@{/StarCups/orderHistory(shoppingId=${session['shoppingId']})}" method="get" id="checkoutForm">
                            <button type="submit" class="button button-secondary button-pipaluk" id="checkoutBtn">His</button>
                        </form> --> 
                        

                        
                           <div class="mb-1 mt-1">Showing 1–12 of <span th:text="${totalProducts}"></span> results</div> 
                        
                    </div>
                    <div class="row row-lg row-40">
                        <div class="col-sm-6 col-md-4" th:each="product : ${products}" th:data-producttype="${product.productType.productTypeId}">
                            <article class="product" th:classappend="${product.productStatus == 2} ? 'out-of-stock'" th:data-productstatus="${product.productStatus}">
                                <div class="product-figure">
                                    <img th:src="${product.productPicture}" alt="" />
                                    <div class="product-button">
                                        <button class="button button-md button-white button-ujarak add-to-cart" th:data-productid="${product.productId}" th:data-quantity="1">
                                            <span th:if="${product.productStatus == 2}">OUT OF STOCK</span>
                                            <span th:if="${product.productStatus != 2}">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                                <h5 class="product-title">
                                    <a href="#" th:data-bs-toggle="'modal'" th:data-bs-target="'#productModal'" th:data-productpicture="${product.productPicture}" th:data-productname="${product.productName}" th:data-productprice="${product.productPrice}" th:data-productdescription="${product.productDescription}" th:data-productstock="${product.productStock}" th:data-productstatus="${product.productStatus}">
                                        <span th:text="${product.productName}"></span>
                                    </a>
                                </h5>
                                <div class="product-price-wrap">
                                    <div th:text="'$' + ${product.productPrice}"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pagination-wrap">
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-5">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${currentPage - 1})}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${pageNum})}" th:text="${pageNum}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${currentPage + 1})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-10 col-md-12 col-lg-4 col-xl-3 ml-3">
                    <br><br><h5 class="mb-3 mt-3">PRODUCT CATEGORY</h5>
                    <ul class="list list-shop-filter">
                        <li>
                            <label class="checkbox-inline" onclick="filterProducts('all')">
                                <input type="radio" name="input-group-radio" value="all"> 
                                <a href="/SpanTasty/StarCups/allProduct"><span>所有商品</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                          <!--   <span class="allCount list-shop-filter-number" th:text="${allProductCount}">
                            </span> 顯示所有商品的數量 -->
                            </label>
                        </li>
                        <li th:each="productType : ${productTypes}">
                            <label class="checkbox-inline">
                                <a th:href="@{/StarCups/productsByProductType/{productTypeId}(productTypeId=${productType.productTypeId})}"> 
                                <span th:text="${productType.productTypeName}"></span></a>
                            </label>
                            <span class="list-shop-filter-number" th:text="${#lists.size(productType.products)}"></span>
                        </li>
                    </ul><br><br><br>
                     <div class="col-md-6 col-lg-12">
                  <h5>Popular products</h5>
                  <div class="list-popular-product">
                    <div class="list-popular-product-item">
                      <!-- Product Minimal-->
                      <article class="product-minimal unit unit-spacing-md">
                        <div class="unit-left">
                        <img src="/SpanTasty/images/store/B4.jpg" alt="" class="pImg" /></div>
                        <div class="unit-body">
                          <h6 class="product-minimal-title">Blue Bottle馬克杯</h6>
                          <div class="product-minimal-price">$850</div>
                        </div>
                      </article>
                    </div>
                    <div class="list-popular-product-item">
                      <!-- Product Minimal-->
                      <article class="product-minimal unit unit-spacing-md">
                        <div class="unit-left">
                        <img src="/SpanTasty/images/store/Fg.jpg" alt="" class="pImg"/></div>
                        <div class="unit-body">
                          <h6 class="product-minimal-title">瓜地馬拉花神</h6>
                          <div class="product-minimal-price">$400</div>
                        </div>
                      </article>
                    </div>
                    <div class="list-popular-product-item">
                      <!-- Product Minimal-->
                       <article class="product-minimal unit unit-spacing-md">
                        <div class="unit-left">
                        <img src="/SpanTasty/images/store/Mac.jpg" alt="" class="pImg"/></div>
                        <div class="unit-body">
                          <h6 class="product-minimal-title">Macaron</h6>
                          <div class="product-minimal-price">$600</div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                </div>
	



                <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="productModalLabel">商品資訊</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img id="modalProductPicture" src="" alt="Product Image" style="width: 100%; height: auto;" />
                                    </div>
                                    <div class="col-md-6 position-relative">
                                        <ul class="list list-description position-absolute top-50 start-50 translate-middle fs-5" style="align-items: center; white-space: nowrap">
                                            <li><span>商品名稱:</span> <span id="modalProductName"></span></li>
                                            <li><span>商品金額:</span> <span id="modalProductPrice"></span></li>
                                            <li><span>商品描述:</span> <span id="modalProductDescription"></span></li>
                                            <li><span>商品庫存:</span> <span id="modalProductStock"></span></li>
                                            <li><span>商品狀態:</span> <span id="modalProductStatus"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="snackbars" id="form-output-global"></div>

    <div th:replace="~{starcups/display/footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
   <script>
    const productLinks = document.querySelectorAll('.product-title a');
    const addButtons = document.querySelectorAll('.add-to-cart');
    const productArticles = document.querySelectorAll('.product');
    let cartItemCount = 0;

    window.onload = function() {
        // 從 localStorage 讀取購物車數量
        const storedCount = localStorage.getItem('cartItemCount');
        if (storedCount) {
            cartItemCount = parseInt(storedCount);
            document.getElementById('cart-count').textContent = cartItemCount;
        }

        addButtons.forEach(button => {
            button.style.display = 'block';
            setTimeout(() => {
                button.classList.add('visible');
            }, 50);
        });
    };

    productLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const productPicture = this.getAttribute('data-productpicture');
            const productName = this.getAttribute('data-productname');
            const productPrice = this.getAttribute('data-productprice');
            const productDescription = this.getAttribute('data-productdescription');
            const productStock = this.getAttribute('data-productstock');
            const productStatus = this.getAttribute('data-productstatus');

            document.getElementById('modalProductPicture').src = productPicture;
            document.getElementById('modalProductName').textContent = productName;
            document.getElementById('modalProductPrice').textContent = '$' + productPrice;
            document.getElementById('modalProductDescription').textContent = productDescription;
            document.getElementById('modalProductStock').textContent = productStock;
            document.getElementById('modalProductStatus').textContent = (productStatus == 1) ? "上架中" : (productStatus == 2) ? "已停售" : "未知狀態";
        });
    });

    addButtons.forEach(button => {
        button.addEventListener('click', function() {
            const productStatus = this.closest('.product').getAttribute('data-productstatus');
            if (productStatus == 2) {
                Swal.fire({
                    icon: 'warning',
                    title: '商品已完售',
                    showConfirmButton: false,
                    timer: 1000
                });
                return; 
            }

            const token = localStorage.getItem('token');
            const productId = this.getAttribute('data-productid');
            const quantity = 1;

            if (!token) {
                Swal.fire({
                    icon: 'warning',
                    title: '請先登入會員',
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }

            axios.post("http://localhost:8080/SpanTasty/StarCups/addPost", null, {
                params: {
                    productId: productId,
                    shoppingItemQuantity: quantity
                },
                headers: {
                    'Authorization': token,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.status === 200) {
                    cartItemCount++;
                    document.getElementById('cart-count').textContent = cartItemCount;
                    localStorage.setItem('cartItemCount', cartItemCount); // 儲存到 localStorage
                    Swal.fire({
                        icon: 'success',
                        title: '商品已加入購物車',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '商品已完售',
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: '錯誤',
                    text: '發生錯誤，請檢查Console',
                    confirmButtonText: '確定'
                });
            });
        });
    });
</script>


    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>
</body>
</html>
