<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>租借訂單</title>
<style>
#card-warning {
    background-color: #c8e6c9; 
}

.table {
    background-color: #f1f8e9; /* 表格背景：淡綠 */

}

.table thead {
    background-color: #a5d6a7; /* 表格標題：淺綠 */
    color: #1b5e20;
}

.body {
    background-color: #e9f7ef; /* 背景色：淡綠 */
}
</style>
</head>
<body class="body">
<div th:replace="~{spantasty/display/navbar}" ></div>
<div class="content" id="content">
 <div class="container mt-5">
  <div class="row justify-content-center">
   <div class="col-5 text-align" style="font-size:15px">
    <div class="card shadow" id="card-warning" >
	 <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center pb-4">
     <h3 class="mb-0">額外費用結算</h3>
     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-sm btn-success" th:href="@{/rent/getAll}">返回訂單列表</a>
     </div>
     </div>
     <div class="table-responsive">
      <table class="table table-striped" id="table">
        <tr>
	     	<th>感謝您歸還用具。</th>
	    </tr>
        <tr>
	     	<td th:if="${totalExpense > 0}">需再繳金額： <span th:text="${totalExpense}"></span> 元</td>
	     	<td th:if="${totalExpense == 0}">無需再繳交任何金額，感謝您的使用。</td>
	    </tr>
      </table>
   	 </div>
    </div>
   </div>
  </div>
 </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    showSidebar('rental');
});
</script>
</body>
</html>