<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>歸還環保用具</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.5/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.5/dist/sweetalert2.all.min.js"></script>
<style>
.h {
	text-align: center;
}

form {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #c8e6c9;
}

.table {
    background-color: #f1f8e9; /* 表格背景：淡綠 */
}
.table1 {
    background-color: #f1f8e9; /* 表格背景：淡綠 */
}

.table thead {
    background-color: #a5d6a7; /* 表格標題：淺綠 */
    color: #1b5e20;
}
.table1 thead {
    background-color: #a5d6a7; /* 表格標題：淺綠 */
    color: #1b5e20;
}

.tableware-input{
	width: 86%;
	padding: 5px;
	margin-bottom: 0px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.body {
    background-color: #e9f7ef; /* 背景色：淡綠 */
}
</style>
<body class="body">
<div th:replace="~{spantasty/display/navbar}"></div>
<div class="content" id="container">
<h3 class="h">歸還用具</h3>
<form th:action="@{/rent/setPut3}" th:method="post">
<input type="hidden" name="_method" value="put" />
<table class="table table-striped" id="table">
	<tr><td>訂單編號: <input class="tableware-input" type="text" name="rentId" th:value="${rent.rentId}" readonly></td></tr>
	<tr><td>歸還日期: <input class="tableware-input" type="date" name="returnDate" th:value="${#dates.format(rent.returnDate, 'yyyy-MM-dd')}" readonly /></td></tr>
	<tr><td>歸還餐廳:
		<select class="tableware-input" name="returnRestaurantId" id="returnRestaurantId" required>
			<option value="" selected disabled>請選擇租借餐廳</option>
			<option th:each="restaurant : ${restaurants}" th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}" th:selected="${rent.returnRestaurantId == restaurant.restaurantId}"></option>
		</select>
	</td></tr>
</table>
<div class="table-responsive">
        <table class="table table-striped" id="table1">
            <tr>
                <th>用具名稱</th>
                <th>品項數量</th>
                <th>歸還數量</th>
                <th>損壞數量</th>
            </tr>
            <tr th:each=" rentItemDTO, index: ${rentItemsDTO}">
                <td th:text="${rentItemDTO.tablewareName}" th:value="${rentItemDTO.tablewareId}"  ></td>
                <td th:text="${rentItemDTO.rentItemQuantity}" th:value="${rentItemDTO.rentItemQuantity}" ></td>
                <td><input type="number" id="returnedQuantity" class="tableware-input" th:name="'rentItemsDTO[' + ${index.index} + '].returnedQuantity'" min="0" th:max="${rentItemDTO.rentItemQuantity}" required style="width:30%;"/></td>
			    <td><input type="number" id="damagedQuantity" class="tableware-input" th:name="'rentItemsDTO[' + ${index.index} + '].damagedQuantity'" min="0" th:max="${rentItemDTO.rentItemQuantity}" required style="width:30%;"/></td>
                <td>
			        <input type="hidden" id="rentId" th:name="'rentItemsDTO[' + ${index.index} + '].rentId'" th:value="${rentItemDTO.rentId}" />
			        <input type="hidden" id="tablewareId" th:name="'rentItemsDTO[' + ${index.index} + '].tablewareId'" th:value="${rentItemDTO.tablewareId}" />
			        <input type="hidden" id="tablewareName" th:name="'rentItemsDTO[' + ${index.index} + '].tablewareName'" th:value="${rentItemDTO.tablewareName}" />
			        <input type="hidden" id="rentItemQuantity" th:name="'rentItemsDTO[' + ${index.index} + '].rentItemQuantity'" th:value="${rentItemDTO.rentItemQuantity}" />
			        <input type="hidden" id="rentItemDeposit" th:name="'rentItemsDTO[' + ${index.index} + '].rentItemDeposit'" th:value="${rentItemDTO.rentItemDeposit}" />
			        <input type="hidden" id="returnStatus" th:name="'rentItemsDTO[' + ${index.index} + '].returnStatus'" th:value="${rentItemDTO.returnStatus}" />
			        <input type="hidden" id="returnMemo" th:name="'rentItemsDTO[' + ${index.index} + '].returnMemo'" th:value="${rentItemDTO.returnMemo}" />
			    </td>
            </tr>
        </table>
	 </div>
<span id="disabledMsg" style="color:red; display: none">訂單已完全歸還，無法再更改。</span>
<input type="submit" id="submitBtn" class="btn btn-sm btn-success" value="確定歸還"/>
<button type="button" onclick="autoFillInputs()" class="btn-light btn btn-sm">一鍵輸入</button>

<input type="hidden" name="rentDeposit" th:value="${rent.rentDeposit}"/>
<input type="hidden" name="rentDate" th:value="${rent.rentDate}">
<input type="hidden" name="restaurantId" th:value="${rent.restaurantId}">
<input type="hidden" name="memberId" th:value="${rent.memberId}">
<input type="hidden" name="dueDate" th:value="${rent.dueDate}">
<input type="hidden" id="rentStatus" name="rentStatus" th:value="${rent.rentStatus}">
<input type="hidden" name="rentMemo" th:value="${rent.rentMemo}"/>
</form>
</div>
<script>
// 一鍵(完全歸還)
function autoFillInputs() {
    const rentItemQuantities = document.querySelectorAll('#rentItemQuantity');
    const returnedQuantities = document.querySelectorAll('#returnedQuantity');
    const damagedQuantities = document.querySelectorAll('#damagedQuantity');

    // 遍歷每一項 rentItemQuantity
    rentItemQuantities.forEach((item, index) => {
        const rentItemQuantity = parseInt(item.value, 10); // 確保 rentItemQuantity 是數字型別

        if (index === 0) {
            returnedQuantities[index].value = rentItemQuantity;
            damagedQuantities[index].value = 0;
        } else if (index === 1) {
            returnedQuantities[index].value = rentItemQuantity;
            damagedQuantities[index].value = 1;
        } else if (index === 2) {
            returnedQuantities[index].value = rentItemQuantity - 1;
            damagedQuantities[index].value = 0;
        } else if (index === 3) {
        	if(rentItemQuantity > 1){
	            returnedQuantities[index].value = rentItemQuantity - 1;
	            damagedQuantities[index].value = 1;
        	}else{
	            returnedQuantities[index].value = rentItemQuantity - 0;
	            damagedQuantities[index].value = 1;
        	}
        } else {
        	returnedQuantities[index].value = rentItemQuantity;
            damagedQuantities[index].value = 0;
        }
    });
}

window.onload = function() {
	const rentStatus = document.getElementById('rentStatus');
	const returnRestaurantId = document.getElementById('returnRestaurantId');
	const submitBtn = document.getElementById('submitBtn');
	if (rentStatus.value === '2') {
		submitBtn.disabled = true;
		returnRestaurantId.disabled = true;
		document.getElementById('disabledMsg').style.display = 'block';
	}
};

const url = 'http://localhost:8080/SpanTasty/rent/setPut3';
const submitBtn = document.getElementById('submitBtn');
submitBtn.addEventListener('click', (e)=>{

	e.preventDefault(); // 防止表單默認提交
    
    // 收集 Rent 的基本信息
    const rent = {
        rentId: document.querySelector('input[name="rentId"]').value,
        returnDate: document.querySelector('input[name="returnDate"]').value,
        returnRestaurantId: document.querySelector('select[name="returnRestaurantId"]').value,
        rentDeposit: document.querySelector('input[name="rentDeposit"]').value,
        rentDate: document.querySelector('input[name="rentDate"]').value,
        restaurantId: document.querySelector('input[name="restaurantId"]').value,
        memberId: document.querySelector('input[name="memberId"]').value,
        dueDate: document.querySelector('input[name="dueDate"]').value,
        rentStatus: document.querySelector('input[name="rentStatus"]').value,
        rentMemo: document.querySelector('input[name="rentMemo"]').value
    };
    
    const rentItemsDTO = Array.from(document.querySelectorAll('#tablewareId')).map((_, index) => ({
        rentId: document.querySelectorAll('#rentId')[index].value,
        tablewareId: document.querySelectorAll('#tablewareId')[index].value,
        tablewareName: document.querySelectorAll('#tablewareName')[index].value,
        rentItemQuantity: document.querySelectorAll('#rentItemQuantity')[index].value,
        rentItemDeposit: document.querySelectorAll('#rentItemDeposit')[index].value,
        returnStatus: document.querySelectorAll('#returnStatus')[index].value,
        returnMemo: document.querySelectorAll('#returnMemo')[index].value,
        returnedQuantity: document.querySelectorAll('#returnedQuantity')[index].value,
        damagedQuantity: document.querySelectorAll('#damagedQuantity')[index].value,
    }));

    
    const rentRequestDTO = {
        rent: rent,
        rentItemsDTO: rentItemsDTO
    };
    
    axios.post(url,rentRequestDTO)
    .then(res => {
       console.log(res.data);
       const { totalExpense, damagedItems, unreturnedItems } = res.data;
       Swal.fire({
           title: '歸還成功！',
           text: `需再繳交金額: $${totalExpense}`,
           icon: 'success',
           confirmButtonText: '確定'
       }).then((result) => {
           if (result.isConfirmed) {
               // 跳轉至金額頁面
               const urlParams = new URLSearchParams();
                urlParams.append('totalExpense', totalExpense);
                urlParams.append('damagedItems', JSON.stringify(damagedItems));
                urlParams.append('unreturnedItems', JSON.stringify(unreturnedItems));
                window.location.href = `http://localhost:8080/SpanTasty/rent/expense?${urlParams.toString()}`;
           }
       });
    })
    .catch(err => {
        console.error(err); 
    });
})


</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
	showSidebar('rental');
});
</script>
</body>
</html>